# Ignoring system metadata file
.DS_Store

test-results/
tmp/
routes/

# Ignoring intellij files
.idea/

# Ignoring golang bin folder
bin/

# Ignoring golang pkg folder
pkg/

# Ignoring everything in the src folder except for golang
src/
!src/Lifestream-API/
